<div style="text-align: center;padding:50px">

  <p style="font-size:18px;font-family: 'Roboto';">Please enter your registered email address below. A password rest link will be sent to your inbox</p>
  <div class="l-inpbox">
    <div><input class="text-input" placeholder="Enter your email" [(ngModel)]="email"  name="email"/></div>
  </div>
  <p *ngIf="message" class="message">{{message}}</p>
  <p *ngIf="error" style="color:red;text-align: center;width:100%">{{error}}</p>
  <div class="l-btnbox">
    <button [disabled]="!email" (click)="reset()" class="l-btn"  >
  <div *ngIf="!loading">

    Submit
  </div>
    <div *ngIf="loading" class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </button></div>
</div>
