<div style="padding:15px">

  {{message}}

  <div class="table-responsive">

    <table stye="background:#ffffffcf" class="table" *ngIf="users&&users.length">
      <tr>
        <th>S No.</th>
        <th>User Id</th>
        <th>Email</th>
        <th>Verified</th>

        <th></th>
      </tr>
      <tr *ngFor="let user of users; let i = index">
        <td>{{i+1}}</td>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.emailVerified}}</td>

        <td>
          <button  *ngIf="user.emailVerified" style="margin-right:15px;margin-left:15px" type="button" class="btn btn-warning">
            <span style="display: inline-block;margin: 0px 7px;" (click)="unverify(user)">Unverify</span>
          </button>
          <button *ngIf="!user.emailVerified" style="margin-right:15px;margin-left:15px" type="button" class="btn btn-success">
            <span style="display: inline-block;margin: 0px 7px;" (click)="verify(user)" >Verify</span>
          </button>
          <button type="button" class="btn btn-danger">
            <span style="display: inline-block;margin: 0px 7px;" (click)="delete(user.id)" >Delete</span>
          </button>


        </td>
      </tr>
    </table>
  </div>
</div>
