<pre style="    font-family: Roboto;
margin: 15px 15px;
color: #0693E3;
font-weight: bold;">
  This week's usage
</pre>
<div style="margin-bottom:250px" class="container">
<div class="row">
  <div class="col-12">

    <ng-container *ngIf="usage">
      <ng-container *ngFor="let u of usage | keyvalue">
        <span [ngClass]="{'selected':location==u.key}" style="padding: 15px;
        margin-right: 15px;
        display: inline-block;
        text-transform: capitalize;" (click)="location=u.key" *ngIf="u.value">{{u.value.name}}</span>
      </ng-container>
    </ng-container>
  </div>
  <div class="col-12">


    <div style="padding:40px 15px">
      <ng-container *ngIf="usage">
        <ng-container *ngFor="let u of usage | keyvalue">
          <ng-container *ngIf="u.key==location && u.value && u.value.switches && u.value.switches.length">
            <ng-container *ngFor="let switch of u.value.switches">
                  <div style="    display: flex;
                  /* background: #393e46; */
                  color: #393e46;
                  padding: 15px 15px;
                  font-size: 18px;
                  border-bottom: 1px solid #393e4630;
                  align-items: center;position:relative;">
                     <span style="text-transform: capitalize;">{{switch.name}}</span> <span style="position:absolute;right:45px">{{switch.duration}}</span>
                  </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
  </div>
</div>
