<div class="auto-head">
  <div style="font-size:21px;" class="auto-header">Create Automation</div>
  <div (click)="activeModal.dismiss()" style="display: inline-block;    position: absolute;right: 27px;top: 8px;"><img class="auto-back" src="content/images/back.svg" /></div>
</div>
<div *ngIf="!showLocations" class="auto-spacer"></div>
<div style="padding:15px;">
  <ng-container *ngIf="!showLocations">

    <div style="width:500px;max-width: 90vw;margin: 0 auto;display: block;" class="auto-inp">
      <input style="box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      height: 40px;
      padding: 0.5rem;
      font-size: 1rem;
      width: 100%;
      outline: none;
      border: 1px solid #ff5722;
      display: flex;
      justify-content: center;" placeholder="Scene Name" [(ngModel)]="name" value="Bedroom Light 1" class="auto-inpp" />
    </div>
    <div class="auto-help">
      <label class="auto-helpp">
        Automate your switch by selecting an appropriate start time, stop time &
        days of the week</label
      >
    </div>
    <div class="auto-times">
      <label [(ngModel)]="start" style="padding-top: 10px;
      font-size: 100%;" class="auto-startt">Start Time</label>
      <ngb-timepicker [(ngModel)]="start" [seconds]="true"></ngb-timepicker>
      <label style="padding-top: 10px;
      font-size: 100%;" class="auto-startt">Stop Time</label>
      <ngb-timepicker [(ngModel)]="stop" [seconds]="true"></ngb-timepicker>
    </div>
    <div style="display:flex;justify-content: center;">
      <div  *ngFor="let day of days" class="auto-days">
        <div (click)="selectDay(day)" [ngClass]="{'selected-day' : day.selected}" class="auto-day">{{day.v}}</div>

      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="showLocations">
    <app-location-list (valueChange)='displayCounter($event)' [selectedSwitches]="selectedForSchedule"></app-location-list>
  </ng-container>




  <div class="auto-savebtn" style="margin-bottom:65px;">
    <button style="margin-right:15px;background:#2d4059!important;border-color:#2d4059!important" *ngIf="!showLocations"  (click)="showLocations=true" class="auto-savebtnn">Select Switches</button>
    <button *ngIf="showLocations"  (click)="showLocations=false" class="auto-savebtnn">Done</button>

    <button  *ngIf="!showLocations" (click)="addSchedule()" [disabled]="!name||!selectedDaysLength" class="auto-savebtnn">Create</button>
  </div>

</div>

<!--
<pre>
  {{selectedForSchedule|json}}
</pre> -->
<!-- {{name}}
{{selectedDaysLength}}
{{activeRequests|json}} -->
