<!-- <pre>
  {{allDevices|json}}
</pre> -->
<!-- <pre>
  {{selectedSwitches|json}}
</pre>
{{name}}
<pre>
  {{location|json}}
</pre> -->
<app-icon-select *ngIf="showIcons" [type]="iconType" (iconSelected)="onIconSelect($event)"></app-icon-select>

<div class="container" *ngIf="!showIcons" [ngClass]="{'padding':addSwitch}" style="border: none;
background: none;
position: relative;
right: 0px;
opacity: 1;
margin-top: 20px;
margin: 30px auto;">
<!-- <h3 *ngIf="addSwitch">Add Switches</h3>
<i (click)="activeModal.close()" *ngIf="addSwitch" style="position: absolute;right: 15px;top: -15px;" class="fas fa-times"></i>
  -->
<div  *ngIf="!addSwitch" (click)="openLocationIcon()" style="width: 150px;height: 150px;background: #d4d4d4;border: 5px solid white;margin: 0 auto;margin-bottom: 25px;display: flex;justify-content: center;align-items: center;">
    <img *ngIf="!logo" src="content/icons/location/default.svg" style="opacity:0.5;width: 90%;justify-content: center;align-items: center;display: flex;">
    <img *ngIf="logo" src="content/icons/location/{{logo}}" style="width: 90%;justify-content: center;align-items: center;display: flex;">
    <p style="z-index: 2;position: absolute;background: #000000a3;padding: 0px 11px;color: #fff;font-weight: bold;
    border: 1px solid #fff;text-align: center;">Change Icon</p>
  </div>
<div *ngIf="!addSwitch" style="margin-top:20px" id="add-location-form">
    <input  style=" width: 500px;
    max-width:90vw;
    height: 45px;
    font-size: 100%;
    border: none;
    border-bottom: 1px solid #0000001a;
    outline: none;
    padding-left: 10px;
    border: 1px solid #0693E3;
    border-radius: 4px;margin:0 auto;display: block;" [disabled]="adding" [(ngModel)]="name" type="text" placeholder="Location Name"/>
  </div>
  <button *ngIf="!addSwitch" style="border:none;background:none;position: absolute;
  right: 29px;
  opacity: 0.5;margin-top:20px"  id="scan-btn" (click)="scan(true)"><i class="fas fa-sync-alt"></i></button>
   <div id="scan-section">

     <div style="     margin-top: 50px;
     padding: 15px;
     border-radius: 5px;
     background: transparent;
     color: #eeeeee;" id="switches" *ngIf="deviceLength&&!adding&&showSwitches">

     <div class="row">
        <ng-container *ngFor="let device of devices | keyvalue ; let ix=index">
            <ng-container *ngIf="device.value">
              <ng-container  *ngFor="let board of device.value | keyvalue; let ixx = index">

                <ng-container *ngIf="board.value && board.value.switches; ">

                  <ng-container  *ngFor="let switch of board.value.switches; let i = index">
                    <ng-container *ngIf="switch!=null">

                      <div  class="col-lg-3 col-md-4 col-6 hover"    (click)="toggle(device.key,switch,board.key,i,$event)" style="padding:0px;cursor:pointer;color: #10316b;text-transform: capitalize;" >
                        <div style="border:1px solid #0000002e;padding:15px;padding-bottom:45px;">
                          <span style="width:90%;display:inline-block"> <i [ngClass]="{'green':devices[device.key][board.key].switches[i]}" style="font-weight: 900;font-size: 8px;position: relative;
                          top: -2px;margin-right: 5px;color: #8080806e;" class="fas fa-circle" >
                          </i> <input class="stop" style="outline:none;border:none;background:none;  border-bottom: 1px solid #0000001a;width:85%"  *ngIf="selectedSwitches[device.key]&&selectedSwitches[device.key][board.key]&&selectedSwitches[device.key][board.key][i]" placeholder="label" [(ngModel)]="selectedSwitches[device.key][board.key][i].label"></span>
                          <span class="stop" style="position:absolute;top:10px;right:10px">
                            <button style="outline:none;border:none;background:none;color:#0693E3;" *ngIf="(!selectedSwitches[device.key]||!selectedSwitches[device.key][board.key]||!selectedSwitches[device.key][board.key][i])" (click)="select(device.key,board.key, i)"><i class="far fa-square stop"></i></button>
                           <button style="outline:none;border:none;background:none;color:#0693E3;"  *ngIf="selectedSwitches[device.key]&&selectedSwitches[device.key][board.key]&&selectedSwitches[device.key][board.key][i]" (click)="deselect(device.key,board.key, i)"><i class="far fa-check-square stop"></i></button>
                          </span>
                          <div style="display:flex;justify-content:center; align-items:center;">
                            <img  [ngClass]="{'transparent':!devices[device.key][board.key].switches[i]}" style="margin-top:18%!important;display: block;height:auto;width:50%;margin:0 auto" *ngIf="selectedSwitches[device.key]&&selectedSwitches[device.key][board.key]&&selectedSwitches[device.key][board.key][i]&&selectedSwitches[device.key][board.key][i].switchLogo" src="/content/icons/switch/{{selectedSwitches[device.key][board.key][i].switchLogo}}" alt="">

                            <img  [ngClass]="{'transparent':!devices[device.key][board.key].switches[i]}" style="margin-top:18%!important;display: block;height:auto;width:50%;margin:0 auto" *ngIf="!selectedSwitches||!selectedSwitches[device.key]||!selectedSwitches[device.key][board.key]||!selectedSwitches[device.key][board.key][i]||!selectedSwitches[device.key][board.key][i].switchLogo" src="/content/icons/switch/default.svg" alt="">
                            <p *ngIf="selectedSwitches[device.key]&&selectedSwitches[device.key][board.key]&&selectedSwitches[device.key][board.key][i]" (click)="openSwitchIcon(device.key,board.key,i)"  class="stop" style="z-index: 2;position: absolute;background: #000000a3;padding: 0px 11px;color: #fff;font-weight: bold;border: 1px solid #fff;text-align: center;top:54%">Change Icon</p>

                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>



                </ng-container>
              </ng-container >
            </ng-container>
        </ng-container >
     </div>
        <div *ngIf="!switchCount">
          <p style="text-align:center">No free switches available</p>
        </div>
     </div>
     <button *ngIf="!addSwitch" style="margin: 0 auto;
        display: block;
        margin-top: 40px;
        padding: 10px 35px;
        background: #0693E3;
        border: 1px solid #0693E3;
        border-radius: 4px;
        color: #fff;"  [disabled]="!name||adding||!switchCount" (click)="addLocation()">Add Location</button>
            <div style="display: flex;justify-content: center;align-items: center;">

              <button *ngIf="addSwitch" style="
                 display: block;
                 margin-top: 40px;
                 padding: 10px 35px;
                 background: transparent;
                 border: 1px solid #0693E3;
                 border-radius: 4px;
                 color:#0693E3 ;"  [disabled]="!location||adding||!switchCount" (click)="cancel()">Cancel</button>
              <button *ngIf="addSwitch" style="
               display: block;
               margin-top: 40px;
               padding: 10px 35px;
               background: #0693E3;
               border: 1px solid #0693E3;
               border-radius: 4px;
               color: #fff;margin-left:15px"  [disabled]="!location||adding||!switchCount" (click)="addSwitches()">Add</button>

            </div>
    <div *ngIf="!deviceLength">
       No devices found
     </div>
   </div>


</div>
