<!--  <pre>
  {{onlineDevices|json}}
</pre>
boards - {{boards.length}} -->
<!-- <div class="h-head">
  <div class="h-header">Home</div> -->

  <div *ngIf="!selectedLocation" style="display: inline;
  position: absolute;
  right: 15px;
  top: 57px;" ngbDropdown placement="bottom-right" #myDrop="ngbDropdown">
    <img  id="dropdownManual" ngbDropdownAnchor (click)="myDrop.open()" class="h-back" src="content/images/add.png" />
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button *ngIf="!onlineDevicesLength" ngbDropdownItem  [routerLink]="['/devices/']">Add Device</button>
      <button (click)="launchDeviceAdder()" ngbDropdownItem>Add Location</button>
      <button [routerLink]="['/schedules']" ngbDropdownItem>Add Schedule</button>

    </div>
   </div>
<div style="margin-top: 10px;margin-bottom:250px;" class="container">
  <div  *ngIf="!selectedLocation" class="row">

    <div class="col-12">
      <div style="display: flex;">

        <span class="panel">


          <table style="display:inline-block;border-right: 2px solid #2d4059;position:relative; top:-5px;">
            <tr>
              <td>
                <i  style="font-size: 18px;" class="far fa-hdd"></i>
             </td>
              <td style="line-height: 18px;padding: 0px 18px;">

                <tr><td>
                  <span style="display: block;"><span> {{ onlineDevicesLength?'Online':'Offline'}}</span></span>

                </td></tr>

              </td>
            </tr>
          </table>

          <table [ngClass]="{'disabled': !onlineDevicesLength}" style="padding:6px;display:inline-block">
            <tr  (click)="launchDeviceAdder()" style="cursor:pointer">
              <td>
                <i  style="font-size: 18px; margin-left: 18px;" class="fas fa-plus"></i>
              </td>
              <td style="line-height: 18px;padding: 0px 0px 0px 18px;">
                <tr><td>
                  <span style="display: block;">Add Location</span>

                </td></tr>

              </td>
            </tr>
          </table>

        </span>
      </div>
    </div>
  </div>


<app-location-list (selectedLocationChange)=selectedLocationChange($event)></app-location-list>


</div>
