<div class="land-root">
  <div class="land-help"><img src="content/images/help.png" class="landhelp"></div>
  <div class="land-top">
    <img src="content/images/logo.png" height="200px" class="land-logo" />
    <div style="color:#222831" class="appname">BlueBox IoT</div>
  </div>
  <div class="land-buttons">;
    <button style="background-color: #222831;color:#f2f2f2;border:none;" [routerLink]="['/login']" class="land-loginbtn">Login</button>
    <button style="color: #f2f2f2;background:#0693E3;border:none" [routerLink]="['/signup']" class="land-regbtn">Signup</button>
  </div>
</div>
