.panel {
  padding: 12px 30px;
  background: #0693E3;
  color: #fff;
display: inline-block;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 7px 19px 0px #6d696961;
}


.selected {
  border-bottom: 2px solid #0693E3;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}




.green {
  color: #2cb978!important;
}




