 <!-- <pre>
  {{locations|json}}
</pre> -->
<!-- boards - {{boards.length}}
 -->


<div *ngIf="selectedLocation" style="display: inline;
position: absolute;
right: 15px;
top: 62px;color:#fff" ngbDropdown placement="bottom-right" #myDrop="ngbDropdown">
<p
*ngIf="!schedules" (click)="back()">Back</p>
 </div>

<div class="container">
  <ng-container *ngIf="schedules">
    <!--locations-->
    <div style="padding:45px 0px 25px 0px"  *ngIf="locations" class="row">
      <div class="col-12" style="padding: 0px;">
        <ng-container *ngFor="let location of locations | keyvalue">
          <span *ngIf="location.key" [ngClass]="{'selected' : location.key == selectedLocation}"  (click)="selectLocation(location)" style="cursor:pointer;padding:0px 15px;padding-bottom:7px;color: #10316b;text-transform: capitalize;" >
           <!--  <i (click)="editLocation(location.key,location.value)" style="margin-right:10px" *ngIf="selectedLocation==location.key" class="fas fa-pencil-alt"></i> -->
              {{location.value.name}}
            <i [ngClass]="{'green': location.value.active}" style="font-weight: 900;font-size: 8px;position: relative;
            top: -2px;margin-left: 5px;color: #8080806e;" class="fas fa-circle" >
            </i>
          </span>
        </ng-container>
      </div>
    </div>
    <!--end locations-->
    <!--switches-->
    <div style="padding-bottom:45px"  *ngIf="locations" class="row">
      <ng-container *ngFor="let location of locations | keyvalue">
        <ng-container *ngIf="location.value.switches && location.value.switches.length">
          <ng-container  *ngFor="let switch of location.value.switches">
            <div *ngIf="onlineDevices&&onlineDevices[switch.deviceId]&&
            onlineDevices[switch.deviceId][switch.board]&&
            onlineDevices[switch.deviceId][switch.board].switches&&
            onlineDevices[switch.deviceId][switch.board].switches.length&&
            onlineDevices[switch.deviceId][switch.board].switches[switch.switch]!=undefined&&
            onlineDevices[switch.deviceId][switch.board].switches[switch.switch]!=null&&
            switch.locationId == selectedLocation" class="col-12" style="padding:0px">
              <div style="display: flex;
              /* background: #393e46; */
              color: #393e46;
              padding: 15px 15px;
              font-size: 18px;
              border-bottom: 1px solid #393e4630;
              align-items: center;">
                <ng-container *ngIf="selectedSwitches">
                <button  *ngIf="!selectedForSchedule!||!selectedForSchedule[switch.deviceId]||
                !selectedForSchedule[switch.deviceId][switch.board]||
                !selectedForSchedule[switch.deviceId][switch.board][switch.switch]"  (click)="addSchedule(switch)" style="outline:none;border:none;background:none;margin-right: 15px;color:#0693E3;"><i class="far fa-square"></i></button>
                <button *ngIf="selectedForSchedule[switch.deviceId]&&
                selectedForSchedule[switch.deviceId][switch.board]&&
                selectedForSchedule[switch.deviceId][switch.board][switch.switch]" (click)="removeSchedule(switch)" style="outline:none;border:none;background:none;margin-right: 15px;color:#0693E3;" ><i class="far fa-check-square"></i></button>
                </ng-container>
                <p style="margin-bottom:0px" *ngIf="switch.name"> {{switch.name}} </p>
                <label class="switch">
                  <input (click)="toggle(switch.deviceId,onlineDevices[switch.deviceId][switch.board].switches[switch.switch],switch.board,switch.switch)" [(ngModel)]="onlineDevices[switch.deviceId][switch.board].switches[switch.switch]" type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <!--end switches-->
  </ng-container>

  <ng-container *ngIf="!schedules">
    <!--locations-->
    <div style="padding:45px 0px 25px 0px"  *ngIf="locations&&!selectedLocation" class="row">
      <ng-container *ngFor="let location of locations | keyvalue">
        <div  class="col-lg-3 col-md-4 col-6" *ngIf="location.key"   (click)="selectLocation(location)" style="padding:0px;cursor:pointer;color: #10316b;text-transform: capitalize;" >
          <div style="border:1px solid #0000002e;padding:15px;padding-bottom:45px;">
            <h5 style="width:90%;display:inline-block"> <i [ngClass]="{'green': location.value.active}" style="font-weight: 900;font-size: 8px;position: relative;
            top: -2px;margin-right: 5px;color: #8080806e;" class="fas fa-circle" >
            </i>{{location.value.name}} </h5>
            <i (click)="editLocation(location.key,location.value)" style="width:10%;display:inline-block" class="fas fa-pencil-alt"></i>
            <img style="margin-top:18%!important;display: block;height:auto;width:50%;margin:0 auto" *ngIf="location.value.locationLogo" src="/content/icons/location/{{location.value.locationLogo}}" alt="">

            <img style="margin-top:18%!important;display: block;height:auto;width:50%;margin:0 auto" *ngIf="!location.value.locationLogo" src="/content/icons/location/default.svg" alt="">
          </div>
        </div>
      </ng-container>
    </div>
    <!--end-locations-->

    <!--switches-->
    <div style="padding:45px 0px 25px 0px"  *ngIf="locations&&selectedLocation" class="row">
      <ng-container *ngFor="let location of locations | keyvalue">
        <ng-container *ngIf="location.value.switches && location.value.switches.length">
          <ng-container  *ngFor="let switch of location.value.switches">
            <ng-container *ngIf="onlineDevices&&onlineDevices[switch.deviceId]&&
            onlineDevices[switch.deviceId][switch.board]&&
            onlineDevices[switch.deviceId][switch.board].switches&&
            onlineDevices[switch.deviceId][switch.board].switches.length&&
            onlineDevices[switch.deviceId][switch.board].switches[switch.switch]!=undefined&&
            onlineDevices[switch.deviceId][switch.board].switches[switch.switch]!=null&&
            switch.locationId == selectedLocation">
              <div class="col-lg-3 col-md-4 col-6" (click)="toggle(switch.deviceId,onlineDevices[switch.deviceId][switch.board].switches[switch.switch],switch.board,switch.switch)" style="padding:0px;cursor:pointer;color: #10316b;text-transform: capitalize;" >
                <div style="border:1px solid #0000002e;padding:15px;padding-bottom:45px;">
                  <h5 style="width:90%;display:inline-block"> <i [ngClass]="{'green': onlineDevices[switch.deviceId][switch.board].switches[switch.switch]}" style="font-weight: 900;font-size: 8px;position: relative;
                  top: -2px;margin-right: 5px;color: #8080806e;" class="fas fa-circle" >
                  </i>{{switch.name}} </h5>
                  <img style="margin-top:18%!important;display: block;height:auto;width:50%;margin:0 auto" *ngIf="switch.switchLogo" src="/content/icons/switch/{{switch.switchLogo}}" alt="">
                  <img style="margin-top:18%!important;display: block;height:auto;width:50%;margin:0 auto" *ngIf="!switch.switchLogo" src="/content/icons/switch/default.svg" alt="">
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <!--end-switches-->

  </ng-container>

  <div *ngIf="onlineDevicesLength&&!locationsLength "class="row">
    <div *ngIf="!boards||!boards.length" style="cursor:pointer;text-align:center" class="col-12">
      <i style="font-size:70px;opacity:0.2;margin-bottom:15px;" class="fas fa-microchip"></i>
      <p style="opacity:0.4">No boards found. Please add a board to your device.</p>
    </div>
    <div *ngIf="boards&&boards.length" style="text-align:center" class="col-12">
      <i style="font-size:70px;opacity:0.2;margin-bottom:15px;" class="fas fa-map-marker-alt"></i>
      <p style="opacity:0.4">Looks like you haven't added any locations yet. Please add Locations to continue.</p>
    </div>
  </div>

  <div *ngIf="devices && devices.length&&!onlineDevicesLength"class="row">
    <div style="text-align:center" class="col-12">
      <i style="font-size:70px;opacity:0.2;margin-bottom:15px;" class="fas fa-wifi"></i>
      <p style="opacity:0.4">Please make sure your device is connected to WiFi.</p>
    </div>
  </div>

  <div  *ngIf="!devices || !devices.length"class="row">
    <div [routerLink]="['/devices/']" style="text-align:center;cursor:pointer" class="col-12">
      <i style="font-size:70px;opacity:0.2;margin-bottom:15px;" class="far fa-hdd"></i>
      <p style="opacity:0.4">No Devices registered. Click here to register your device</p>
    </div>
  </div >
</div>


