<div style="padding:15px">
  <form style="margin-bottom:15px;">
    <input placeholder="Enter device id" type="text" name="deviceId" [(ngModel)]="deviceId" />
    <button style="margin-left: 15px;" [disabled]="!deviceId || !deviceId.length" type="submit" (click)="register()">Add Device</button>
  </form>
  {{message}}

  <div class="table-responsive">

    <table stye="background:#ffffffcf" class="table" *ngIf="devices&&devices.length">
      <tr>
        <th>S No.</th>
        <th>Device Id</th>
        <th>Registered To</th>
        <th></th>
      </tr>
      <tr *ngFor="let device of devices; let i = index">
        <td>{{i+1}}</td>
        <td>{{device.deviceId}}</td>
        <td>{{device.userId}}</td>
        <td>
          <button style="margin-right:15px;margin-left:15px" type="button" class="btn btn-warning">
            <span style="display: inline-block;margin: 0px 7px;" (click)="deregister(device)" *ngIf="device.userId">Deregister</span>
          </button>
          <button type="button" class="btn btn-danger">
            <span style="display: inline-block;margin: 0px 7px;" (click)="delete(device.id)" >Delete</span>
          </button>


        </td>
      </tr>
    </table>
  </div>
</div>
