<div class="register-root">

  <div class="register-body">

    <div class="regbdy-up1"></div>
    <div class="lheadtext"><p>Dont have an account yet?</p></div>
    <div style="margin-top: 0px;" class="lheadtext"><img src="content/images/singup.png" height="100px"></div>


    <div class="regbdy-up">

<!--     <input [(ngModel)]="username" class="reginp" placeholder="Username">
 -->
    <input [(ngModel)]="email" type="email" class="reginp" placeholder="Email">

    <input [(ngModel)]="password" class="reginp" placeholder="Password" type="password">

    </div>
    <div  style="margin-top:15px;" class=regbdy-up2><input [(ngModel)]="terms" type="checkbox"></div>
    <div class=regbdy-up2> <br/><p> I Agree to terms & conditions</p></div>
    <div class="regbdy-down"></div>
  </div>
  <div class="register-buttons">
    <button (click)="signup()" [disabled]="!email||!password||!terms" class="register-btn">
     <div *ngIf="!loading">

       Register
     </div>
     <div *ngIf="loading" class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </button>
  </div>
  <p class="error" *ngIf="error"> {{error}}</p>
  <p class="message" *ngIf="success">Sign up success. A verification email has been sent to your email account. <span style="cursor:pointer" [routerLink]="['/login']">Proceed to login</span></p>
</div>
