@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.register-root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.register-head {
  background-color: #222831;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: white;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

.reginp {
  width: 250px;
  height: 40px;
  border: none;
  border: 1px solid #0693E3;
  border-radius: 4px;
  padding-left: 10px;
  background: none;
  margin:10px auto;
}

.regbdy-up {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
}

.register-btn {
  background-color: #0693E3;
  width: 250px;
  height: 45px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  border: #f2f2f2;
}

.register-buttons {
  display: flex;
  justify-content: center;
}

.regbdy-up2 {
  display: flex;
  justify-content: center;
  color: #282c34;
  font-family: "Roboto Condensed", sans-serif;
}

.lheadtext {
  font-size: 24px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  color: #282c34;
  font-family: "Roboto Condensed", sans-serif;
}


.message{
  color:green;
  text-align:center;
  font-weight: 14px;
}

.error{
  color:red;
  text-align: center;
  font-size: 14px;
}

.l-back {
  position: absolute;
    right: 15px;
    top: 18px;
    filter: invert(1);
}
