<div style="padding:0px;">

  <div class="container">
    <div [routerLink]="['/about']" style="padding:10px 15px;border-bottom:1px solid black" class="row">
      <div class="col-1"><i class="fas fa-info-circle"></i></div>
      <div class="col-9">About</div>
    </div>
    <div [routerLink]="['/change-password']"  style="padding:10px 15px;border-bottom:1px solid black" class="row">
      <div class="col-1"><i class="fas fa-key"></i></div>
      <div class="col-9">Change Password</div>
    </div>
    <div [routerLink]="['/refer']" style="padding:10px 15px;border-bottom:1px solid black" class="row">
      <div class="col-1"><i class="fas fa-user-tag"></i></div>
      <div class="col-9">Refer and Earn</div>
    </div>
    <div  [routerLink]="['/help']" style="padding:10px 15px;border-bottom:1px solid black" class="row">
      <div class="col-1"><i class="far fa-question-circle"></i></div>
      <div class="col-9">Help and FAQ</div>
    </div>
    <div [routerLink]="['/contact']" style="padding:10px 15px;border-bottom:1px solid black" class="row">
      <div class="col-1"><i class="fas fa-phone-volume"></i></div>
      <div class="col-9">Contact Us</div>
    </div>
    <div (click)="logout()" style="padding:10px 15px;border-bottom:1px solid black" class="row">
      <div class="col-1"><i class="fas fa-power-off"></i></div>
      <div class="col-9">Logout</div>
    </div>
  </div>

</div>
