<!-- <p>schedule works!</p>
{{deviceLength}}
<pre>
  {{allDevices|json}}
</pre> -->
<div [routerLink]="['/']" style="position: relative;" class="auto-head">
  <div class="auto-header">Automation</div>
  <div style="position: absolute;
  right: 25px;
  top: 10px;"><img class="auto-back" src="content/images/back.svg" /></div>
</div>
<div class="auto-spacer"></div>
<div class="auto0-bodyhead">
  Easily Automate your smart switches
</div>
<div class="auto0-bodyhead1">
  <button  (click)="launch()" class="addautobtn">ADD</button>
</div>`
