

<div style="padding:15px">
  <form style="margin-bottom:15px;">

    <button style="margin-left: 15px;" type="submit" (click)="register()">Add Board</button>
  </form>
  {{message}}

  <div class="table-responsive">

    <table stye="background:#ffffffcf" class="table" *ngIf="boards&&boards.length">
      <tr>
        <th>S No.</th>
        <th>Board Id</th>
        <th>Registered To</th>
        <th></th>
      </tr>
      <tr *ngFor="let board of boards; let i = index">
        <td>{{i+1}}</td>
        <td>{{board.id}}</td>
        <td>{{board.deviceId}}</td>
        <td>
          <button style="margin-right:15px;margin-left:15px" type="button" class="btn btn-warning">
            <span style="display: inline-block;margin: 0px 7px;" (click)="deregister(board)" *ngIf="board.deviceId">Deregister</span>
          </button>
          <button type="button" class="btn btn-danger">
            <span style="display: inline-block;margin: 0px 7px;" (click)="delete(board.id)" >Delete</span>
          </button>



        </td>
      </tr>
    </table>
  </div>
</div>
