
<div class="l-text-top">Get Started !</div>
<div class="l-image"><img src="content/images/singup.png" height="150px" /></div>
<div class="l-inpbox">
  <div><input class="text-input" placeholder="Email" [(ngModel)]="username"  name="username"/></div>
  <div><input placeholder="Password" class="text-input"  [(ngModel)]="password" name="password"   type="password"/></div>
</div>
<p *ngIf="error" style="position:absolute;color:red;text-align: center;width:100%">{{error}}</p>
<div class="l-btnbox"><button [disabled]="!username||!password" (click)="login()" class="l-btn"  >
<div *ngIf="!loading">

  Login
</div>
  <div *ngIf="loading" class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</button></div>
<div [routerLink]="['/forgot-password']" class="forgotpass">Forgot Password?</div>


