


<div class="login-root">
  <div class="login-head">Login</div>
  <div class="login-body">

    <div class="loginbdy-up1"></div>

    <div class="loginbdy-up">
    <div class="loginimg"><img height="150px" src="content/images/login.png"/></div>

    <input [(ngModel)]="username" class="logininp" placeholder="Username" name="username" id="username">

    <input [(ngModel)]="password" class="logininp" placeholder="Password" type="password" name="password" id="password">



    </div>
    <div class="loginbdy-down"></div>
  </div>
  <div class="loginister-buttons">
    <button  [disabled]="!username||!password" (click)="login()" class="loginister-btn">Login</button>

  </div>

<p *ngIf="error" class="error">{{error}}</p>

</div>
