@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.l-head {
  background-color: #222831;
  color: white;
  font-size: 21px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: grid;
  grid-template-columns: 5fr 1fr;
  height:100px;
}

.l-back {
  filter: invert(1);
  position: absolute;
    right: 15px;
    top: 18px;
}

.l-signup {
  display: flex;
  justify-content: left;
}

.l-image {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.l-text-top {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.l-inpbox {
  display: grid;
  justify-content: center;
  padding-top: 1rem;
}

.l-inp {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 15rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.l-lab {
  font-family: "Roboto", sans-serif;
  color: #ff5722;
  padding-bottom: 0px;
}

.l-lab2 {
  font-family: "Roboto", sans-serif;
  color: #ff5722;
  padding-bottom: 0px;
}

.l-btn {
  background-color: #ff5722;
  width: 250px;
  height: 45px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  border: #f2f2f2;
}

.l-btnbox {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.forgotpass {
  padding-top: 1rem;
  display: flex;
  justify-content: center;

  color: #ff5722;

}



.error{
  color:red;
  text-align: center;
  font-size: 14px;
}

.text-input{
background: transparent;
  width: 250px;
  height: 40px;
  border: none;
  border: 1px solid #ff5722;
  border-radius: 4px;
  padding-left: 10px;
  margin: 10px auto;

}
