<div style="text-align: center;padding:50px">

  <p style="font-size:18px;font-family: 'Roboto';">Change your password using the form below,</p>
  <div class="l-inpbox">
    <div><input type="password" class="text-input" placeholder="Enter old password" [(ngModel)]="oldPassword"  name="oldPassword"/></div>
    <div><input type="password" class="text-input" placeholder="Enter new password" [(ngModel)]="newPassword"  name="newPassword"/></div>

  </div>
  <p *ngIf="message" class="message">{{message}}</p>
  <p *ngIf="error" style="color:red;text-align: center;width:100%">{{error}}</p>
  <div class="l-btnbox">
    <button [disabled]="!oldPassword||!newPassword" (click)="reset()" class="l-btn"  >
  <div *ngIf="!loading">

    Submit
  </div>
    <div *ngIf="loading" class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </button></div>
</div>
