
<div *ngIf="!devices|| !devices.length">
  <h3 style="text-align: center;margin: 25px;">Register your device</h3>
  <p style="text-align: center;text-align: center;
  width: 400px;
  max-width: 90vw;
  margin: 0 auto;
  opacity: 0.5;
  margin-top: 50px;">Enter the device ID to register your device. Your device ID can be found printed on the device.</p>
  <input style="width: 300px;
  max-width: 90vw;
  margin: 0 auto;
  display: block;
  margin-top: 20px;text-align:center;" type="text" placeholder="Enter device ID" [(ngModel)]="deviceId">
  <button  [disabled]="!deviceId || !deviceId.length" (click)="register(deviceId)">Register</button>
</div>


