/* button {
  margin: 0 auto;
        display: block;
        margin-top: 40px;
        padding: 10px 35px;
        background: #3d5af1;
        border: 1px solid #3d5af1;
        border-radius: 200px;
        color: #fff;
}

 */


 .step1-head {
  background-color: #222831;
    display: flex;
    justify-content: center;
    /* font-weight: bold; */
    font-size: 21px;
    color: white;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    /* align-items: center; */

}



.step1-text {
  padding: 28px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
}

.step1-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 43px 81px;
  font-size: 21px;
}

.step1-btn {
  display: flex;
  justify-content: center;
}

.step1-btnn {
  background-color: #ff5722;
  width: 250px;
  height: 45px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  border: #f2f2f2;
}
.step2-head {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
}

.step2-text {
  padding-top: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.step2-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.step2-btnn {
  background-color: #01b600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.step2-btn {
  display: flex;
  justify-content: center;
}



.step4-head {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
}

.step4-text {
  padding-top: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.step4-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.step4-btnn {
  background-color: #01b600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.step4-btn {
  display: flex;
  justify-content: center;
}


.step5-head {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
}

.step5-text {
  padding-top: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.step5-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.step5-btnn {
  background-color: #01b600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.step5-btn {
  display: flex;
  justify-content: center;
}



.step6-head {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
}

.step6-text {
  padding-top: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.step6-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.step6-btnn {
  background-color: #01b600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.step6-btn {
  display: flex;
  justify-content: center;
}
